{% extends "layout.html" %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container text-center">
    <h2>Change Your Password</h2>

    <!-- Display flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="alert alert-info">
                {% for category, message in messages %}
                    <p class="mb-0">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('change_password') }}" class="text-left">
        <div class="form-group">
            <label for="current_password">Current Password</label>
            <input type="password" class="form-control input-sm" name="current_password" value="{{ current_password }}">
        </div>
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" class="form-control input-sm" name="new_password"
                   pattern="^(?=.*[a-zA-Z])(?=.*\d)[a-zA-Z\d]{8,20}$"
                   placeholder="8-20 characters with letters and numbers" value="{{ new_password }}">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm New Password</label>
            <input type="password" class="form-control input-sm" name="confirm_password"
                   pattern="^(?=.*[a-zA-Z])(?=.*\d)[a-zA-Z\d]{8,20}$"
                   placeholder="Please re-enter the new password" value="{{ confirm_password }}">
        </div>
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </form>    
</div>

<style>
    .input-sm {
        width: 50%; /* Adjust this percentage to control the width of the input fields */
        margin: 0 auto; /* Center the input fields within the form group */
    }
</style>
{% endblock %}
