{% extends "layout.html" %}
{% block title %}Backend User Management{% endblock %}
{% block content %}
<div class="container-fluid">
    <h2 class="mb-4">User Management</h2>
    <!-- Query condition section -->
    <div style="position: absolute; left: -9999px;">
        <input type="text" id="user_name">
    </div>
    <div class="container-fluid">
        <form action="{{ url_for('backend_user_management') }}" method="POST">
            <div class="row mt-3">
                <div class="col-md-3">
                    <label for="qry_user_name" class="form-label">User name:</label>
                    <input type="text" name="qry_user_name" class="form-control" value="{{qry_user_name}}"
                        maxlength="20">
                </div>
                <div class="col-md-3">
                    <label for="first_name" class="form-label">First name:</label>
                    <input type="text" name="first_name" class="form-control" value="{{first_name}}" maxlength="50">
                </div>
                <div class="col-md-3">
                    <label for="last_name" class="form-label">Last name:</label>
                    <input type="text" name="last_name" class="form-control" value="{{last_name}}" maxlength="50">
                </div>
                <div class="col-md-1 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary w-100">Search</button>
                </div>
            </div>
        </form>
    </div>

    <!-- User List -->
    {% if message=="initial_entry" %}
    <div class="px-4 pt-5 my-5 text-center">
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Please enter your search criteria above and click the "Search" button to begin.</p>
        </div>
    </div>
    {% elif message=="no_data" %}
    <div class="px-4 pt-5 my-5 text-center">
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Sorry, we couldn't find any results matching your search criteria.</p>
        </div>
    </div>
    {% else %}
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="row mb-2 align-items-center">
                <div class="col-md-1">
                    <button type="button" class="btn btn-primary" id="addNewUserBtn">Add New</button>
                </div>
                <div class="col-md-11 text-danger">
                    Account set in Default Role: 'Scrutineer', Defult Password: 'backenduser1pass'.
                </div>
            </div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr class="table-white">
                        <th class="col-1">Actions</th>
                        <th>User name</th>
                        <th>Email</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Role</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in user_list %}
                    <tr>
                        <td><a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#profileModal"
                                onclick="loadProfile('{{ user.id }}')">View profile</a></td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td class="editable" data-id="{{ user.id }}" data-field="role" data-value="{{user.role.value}}">
                            <a href="#">{{user.role.value}}</a></td>
                        <td class="editable" data-id="{{ user.id }}" data-field="status"
                            data-value="{{user.status.value}}"><a href="#">{{user.status.value}}</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Profile Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="profileModalLabel">Profile Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>User name:</strong> <span id="username"></span></p>
                <p><strong>Email:</strong> <span id="email"></span></p>
                <p><strong>First name:</strong> <span id="first_name"></span></p>
                <p><strong>Last name:</strong> <span id="last_name"></span></p>
                <p><strong>Description:</strong> <span id="description"></span></p>
                <p><strong>Location:</strong> <span id="location"></span></p>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="submit" class="btn btn-primary" id="editProfileModalBtn">Edit</button>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit field</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <div class="mb-3">
                        <label id="editFieldLabel" for="fieldValue" class="form-label">Value</label>
                        <select id="fieldValue" class="form-select">
                        </select>
                    </div>
                </form>
            </div>

            <div class="modal-footer d-flex justify-content-between">
                <button type="submit" class="btn btn-primary" form="editForm">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- editProfile Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editProfileForm">
                    <div class="row mb-3">
                        <label for="editUsername" class="col-sm-3 col-form-label">Username</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="editUsername" name="username"
                                pattern="^[a-zA-Z0-9_]{3,20}$" maxlength="20" required>
                            <div class="invalid-feedback">3-20 chars, letters, numbers, and underscores.</div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editEmail" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            <input type="email" class="form-control" id="editEmail" name="email" required
                                pattern="^[a-zA-Z1-9]+(?:[\.\-_][^.\-_]+)*@[a-zA-Z1-9]+(?:[\-_][^.\-_+=]+)*\.(?:com|org|co|nz|cn|cn|co.nz)$"
                                maxlength="320">
                            <div class="invalid-feedback">Must contain '@' and a valid domain.</div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editFirstName" class="col-sm-3 col-form-label">First name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="editFirstName" name="first_name"
                                pattern="^[A-Za-z]{2,50}$" maxlength="50" required>
                            <div class="invalid-feedback">2-50 chars, letters only.</div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editLastName" class="col-sm-3 col-form-label">Last name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="editLastName" name="last_name"
                                pattern="^[A-Za-z]{2,50}$" maxlength="50" required>
                            <div class="invalid-feedback">2-50 chars, letters only.</div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editDescription" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="editDescription" name="description">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="editLocation" class="col-sm-3 col-form-label">Location</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="editLocation" name="location">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="submit" class="btn btn-primary" form="editProfileForm">Save Changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    var currentId = null
    var currentUserData = null

    function loadProfile(user_id) {
        var formData = {
            data_id: user_id
        };
        $.ajax({
            url: '/admin/profile',
            method: 'GET',
            data: formData,

            success: function (response) {
                currentId = user_id
                currentUserData = response
                console.log(response);
                currentId = user_id
                currentUserData = response;
                $('#username').text(response.username || "N/A");
                $('#email').text(response.email || "N/A");
                $('#first_name').text(response.first_name || "N/A");
                $('#last_name').text(response.last_name || "N/A");
                $('#description').text(response.description || "N/A");
                $('#location').text(response.location || "N/A");
            },
            error: function (error) {
                console.log("Error fetching profile data: ", error);
                alert("Failed to load profile data. Please try again later.");
            }
        });
    }

    $(document).ready(function () {
        var currentCell;
        var currentId;
        var currentField;
        var options = {
            role: ['scrutineer', 'admin'],
            status: ['active', 'inactive']
        };

        $('.editable').on('click', function () {
            currentCell = $(this);
            currentId = $(this).data('id');
            currentField = $(this).data('field');
            var currentValue = $(this).data('value');

            $('#editFieldLabel').text(currentField)
            $('#editModalLabel').text("Edit " + currentField)


            $('#fieldValue').empty();
            options[currentField].forEach(function (option) {
                var isSelected = option === currentValue ? 'selected' : '';
                $('#fieldValue').append(`<option value="${option}" ${isSelected}>${option}</option>`);
            });

            $('#editModal').modal('show');
        });

        $('#editForm').on('submit', function (e) {
            e.preventDefault();
            var newValue = $('#fieldValue').val();
            if (confirm(`Are you sure you want to change the ${currentField} from ${currentCell.data('value')} to ${newValue}?`)) {
                $.ajax({
                    url: '/admin/update-role-status',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({ id: currentId, field: currentField, value: newValue }),
                    success: function (response) {
                        $('#editModal').modal('hide');
                        currentCell.html(`<a href="#">${newValue}</a>`);
                        currentCell.data('value', newValue);

                        if (currentField === 'role') {
                            alert('Role Updated Successfully!');
                        } else if (currentField === 'status') {
                            alert('Status Updated Successfully!');
                        }
                    },
                    error: function (error) {
                        console.log("Error Updating Role: ", error);
                    }
                });
            }
        });
    });

    $('#addNewUserBtn').on('click', function () {
        $.ajax({
            url: '/admin/add-backend-user',
            method: 'POST',
            success: function (response) {
                if (response.status === 'success') {
                    alert(response.message);
                    // Refresh the user list
                    location.reload();
                } else {
                    alert(response.message);
                }
            },
            error: function (error) {
                console.log("Error adding new user: ", error);
                alert("Failed to add new user. Please try again later.");
            }
        });
    });


    $('#editProfileModalBtn').on('click', function () {
        // Set form values in the edit profile modal with the current profile information
        $('#editUsername').val($('#username').text() || "");
        $('#editEmail').val($('#email').text() || "");
        $('#editFirstName').val($('#first_name').text() || "");
        $('#editLastName').val($('#last_name').text() || "");
        $('#editDescription').val($('#description').text() || "");
        $('#editLocation').val($('#location').text() || "");

        $('#editProfileModal').modal('show');

    });

    // Event handler for form submission to update profile
    $('#editProfileForm').on('submit', function (e) {
        e.preventDefault();

        var updatedUserData = {
            id: currentId,
            username: $('#editUsername').val(),
            email: $('#editEmail').val(),
            first_name: $('#editFirstName').val(),
            last_name: $('#editLastName').val(),
            description: $('#editDescription').val(),
            location: $('#editLocation').val()
        };

        var confirmation = confirm("Are you sure you want to save these changes?");
        if (confirmation) {
            // Proceed with the AJAX request if the user confirms
            $.ajax({
                url: '/admin/update-profile',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(updatedUserData),
                success: function (response) {
                    if (response.status === 'success') {
                        $('#editProfileModal').modal('hide');
                        alert('Profile updated successfully!');
                        location.reload();

                    } else {
                        alert('Failed to update profile: ' + response.message);
                    }
                },
                error: function (error) {
                    console.log("Error updating profile: ", error);
                    alert("Failed to update profile. Please try again later.");
                }
            });
        } else {
            // If the user cancels, do nothing
            console.log("Profile update was cancelled by the user.");
        }
    });
</script>
{% endif %}

{% endblock %}